<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notaker</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  {% include '_header.html' %}

  <div class="home-content">
    <div>
      <h1><strong>Notaker</strong></h1>
      <section>
        <h2>Welcome to Notaker!</h2>
        <p>Notaker is your online note taking platform. With Notaker you can log your notes quick and easy without worrying about a storage space or paying a subscription.</p>
        <p><strong>IT'S FREE!!</strong></p>
      </section>
    </div>
    <div>
      <img src="https://thumbs.dreamstime.com/b/woman-taking-notes-using-laptop-businesswoman-taking-notes-using-laptop-202145882.jpg" alt="A person taking notes with a laptop">
    </div>
  </div>

  <script src="/static/main.js"></script>
</body>
</html>